<%- include('../layouts/layout_start', {title, user}) %>

<h1>Главная страница</h1>

<div style="min-height: 300px; background-color: lightgrey;" class="p-3">
    <h2>meBoard: доска объявлений</h2>
<p>Добро пожаловать на ресурс MEBOARD!</p>
<p>Здесь вы сможете:
    <ul>
        <li>Размещать обявления с фотографиями</li>
        <li>Осуществлять поиск обявлений по ключевым словам, тегам, авторам</li>
        <li>Общаться с авторами объявлний</li>
        <li>Приятно проводить время :-)</li>
    </ul>
</p>
</div>
<%- include('../layouts/layout_end') %>
